.navbar-container {
  z-index: 3;
  transition: 0.3s ease;
}

.custom-nav {
  gap: 30px;
}

.navbar-font {
  text-transform: capitalize !important;
  color: rgb(0, 0, 0) !important;
  font-size: 1rem !important;
  font-weight: 500;
  font-family: "Rethink Sans", sans-serif !important;
}

.navbar-font__transparent {
  text-transform: capitalize !important;
  color: white !important;
  font-size: 1rem !important;
  font-weight: 500;
  font-family: "Rethink Sans", sans-serif !important;
}

.hamburger-button {
  margin-right: 0 !important;
  border: none;
  color: black !important;
}

.logo-main {
  width: 60px;
}

.dotnav-gallery {
  background-color: rgb(248, 248, 248);
  margin-bottom: 0;
}

h1,
p {
  padding-bottom: 10px;
}

h3 {
  padding-block: 5px;
}

/* About Section */

.about-section {
  background-color: rgb(248, 248, 248);
  padding-block: 30px;
}

.right-about {
  padding-left: 30px;
  line-height: 1.4;
}

.about-button {
  margin-top: 10px;
  text-transform: capitalize;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.about-button:hover {
  color: white;
  background-color: #1c5db8;
}

.about-section__header {
  font-weight: 500;
}

.about-section__container {
  border-radius: 10px;
}

@media (max-width: 768px) {
  .about-us__content {
    flex-direction: column;
  }
  .about-us__text {
    margin-left: 0px;
  }
  .custom-nav {
    gap: 15px !important;
  }
}

@media (min-width: 960px) {
  .left-about {
    flex: 3;
  }

  .right-about {
    flex: 7;
  }
  .about-image {
    border-radius: 10px 0 0 10px;
  }
}

@media (max-width: 960px) {
  .about-image {
    border-radius: 10px 10px 0 0;
  }
  .custom-nav {
    gap: 20px;
  }
}

/* Products Section */

.card-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 7px;
}

.products-cards {
  margin-top: 15px;
}

.product-cards__container {
  padding-block: 30px;
}

.card-products {
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 0;
}

.product-section__header {
  font-size: 24px;
  font-weight: 500;
}

/* Footer Section */
.footer-container {
  background: linear-gradient(45deg, rgb(47, 73, 187), rgb(0, 128, 255));
  color: white;
}
.footer-container h1 {
  color: white;
  font-weight: 700;
  font-size: large;
}

.footer-container p {
  line-height: 1.6;
}

.copyright-footer {
  margin-top: 10px;
  text-align: center;
}

.footer-company__name h1 {
  padding-top: 10px;
  padding-bottom: 0;
}

/* About Page */
.about-main__container {
  background-color: rgb(224, 224, 224);
}

.about-image__container {
  background-color: #1c5db8;
  height: 40vh;
  background: url("/img/kelapa-1.jpg") center/cover no-repeat;
  background-attachment: fixed;
  margin-bottom: 30px;
}

.product-image__container {
  background-color: #1c5db8;
  height: 20vh;
  margin-bottom: 30px;
  position: relative;
}

.product-image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.about-text__container {
  height: 1000px;
}

.about-text__container h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.about-text__container p {
  line-height: 1.5;
}

/* Products Page */
.uk-breadcrumb {
  margin-bottom: 20px;
}

.spec-title {
  margin-bottom: 15px;
}

.uk-list li {
  line-height: 1.4;
}

.product-desc {
  padding-bottom: 0;
  padding-top: 20px;
  line-height: 1.4;
}
.product-desc p {
  padding-bottom: 0;
}

.image-container {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

/* Style for the image */
.image-container img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 200px; /* Maintain the aspect ratio */
  object-fit: cover;
}

/* Style for the text */
.center-text {
  position: absolute;
  top: 50%; /* Center the text vertically */
  left: 50%; /* Center the text horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center the text both horizontally and vertically */
  color: white; /* Change the text color */
  font-size: 24px; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight */
}

.product-cards__height {
  height: 205px;
}

.product-text {
  padding: 0;
}

.gallery-images {
  margin-right: 15px;
}

.gallery-border {
  border-radius: 10px;
  width: 150px;
  height: 100px;
  object-fit: cover;
}

.gallery-border:hover {
  filter: brightness(0.7);
}

.gallery-container {
  padding-block: 20px;
}

/* TEST */

.uk-table td {
  line-height: 1.4;
}

.table-product {
  background-color: #1c5db8;
  padding: 20px;
  color: white;
  border-radius: 10px;
}

.table-spec {
  color: white !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: #fff; /* Set the text color */
}

.container-video {
  position: relative;
}

.container-video video {
  filter: brightness(75%);
  /* margin-top: -80px; */
}

.video {
  width: 100vw;
  max-height: 95vh;
  object-fit: cover;
}

.icon-container {
  display: flex;
  align-items: center;
  width: max-content;
  padding: 5px;
}

.icon-container p {
  color: white;
  padding: 0;
  padding-left: 10px;
}

.icon-container:hover p {
  color: black;
}

.icon-container:hover img {
  filter: brightness(0);
}

.icon-container p,
.icon-container img {
  transition: color 0.3s, filter 0.3s; /* Add a smooth transition effect */
}

.test-height {
  height: 1000px;
}
